* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3E9DC;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; /*If not enough space then take the components to next line.*/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;    
    border-radius: 1rem; /*1rem = font size of root element(html tag) for ex 16px*/
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    border: none;
    font-size: 8vmin;
    background-color: #F67E7D;
    color: #ffffff;
    cursor: pointer;
}

.btn {
    padding: 0.5rem;
    font-size: 0.7rem;
    background-color: #000807;
    border-radius: 0.5rem;
    border: none;
    color: #ffffff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    cursor: pointer;
}

h1 {
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:10px;
    background-color: #F4FFF8;
}

.msg-container {
    height: 100vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:10px;
    color: #F4FFF8;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #4D4847;
}

.hide {
    display: none;
}